* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* deixar o conteudo da pagina contido*/
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.header {
  display: flex; /*pai de todos blocos*/
  justify-content: space-between; /* adiciona espaço entre os elementos*/
  align-items: center; /*alinhar os itens no centro*/
  background-color: #2e948a;
  padding-left: 82px; /*espaço das bordas do item*/
  padding-right: 103px; /*espaço das bordas do item*/
  height: 117px; /*altura do cabeçalho*/
}

.links-header {
  display: flex;
  width: 309px; /*comprimento do componente*/
  gap: 40px; /*vão entre os links*/
}

.links-header a {
  /*fonte definida pelo UX*/
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase; /*estilo MIAUSCULO... lowercase  MINUSCULO */
  color: #fdfdfd;
}

.links-footer {
  display: flex;
  flex-direction: column; /*display em modo coluna, o padrao vem em ROW linha*/
  gap: 15px; /* coloca espaçoentre os itens em geral*/
  /*row-gap; espaços entre os blocos */
  /*column-gap: ;  coloca espaços entre as colunas*/
  color: #fdfdfd;
}

.links-footer a {
  color: #fdfdfd;
  font-size: 20px;
  line-height: 23px;
}

.footer {
  display: flex; /*pai de todos blocos*/
  justify-content: space-between; /* adiciona espaço entre os elementos*/
  align-items: center; /*alinhar os itens no centro*/
  background-color: #2e948a;
  padding-left: 128px; /*espaço das bordas do item*/
  padding-right: 137px; /*espaço das bordas do item*/
  height: 207px; /*altura do cabeçalho*/
}

.button-footer {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.button-footer button {
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 62px;
  width: 289px;
  height: 51px;
}
